run = "npm run dev"
modules = ["nodejs-20", "python-3.11"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 10102
externalPort = 6000
exposeLocalhost = true

[[ports]]
localPort = 11081
externalPort = 3001
exposeLocalhost = true

[[ports]]
localPort = 13041
externalPort = 5173
exposeLocalhost = true

[[ports]]
localPort = 13292
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 13947
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 19383
externalPort = 8008
exposeLocalhost = true

[[ports]]
localPort = 19546
externalPort = 3002
exposeLocalhost = true

[[ports]]
localPort = 19982
externalPort = 3003
exposeLocalhost = true

[[ports]]
localPort = 22668
externalPort = 8081
exposeLocalhost = true

[[ports]]
localPort = 23014
externalPort = 8080
exposeLocalhost = true

[[ports]]
localPort = 31041
externalPort = 6800
exposeLocalhost = true

[[ports]]
localPort = 31107
externalPort = 8099
exposeLocalhost = true

[[ports]]
localPort = 64211
externalPort = 4200
exposeLocalhost = true

[[ports]]
localPort = 64410
externalPort = 8000
exposeLocalhost = true

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm install --omit=dev"]
run = ["npm", "start"]

[nix]
channel = "stable-25_05"
packages = ["lsof", "codex", "undollar", "nix-output-monitor"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 3000

[[workflows.workflow]]
name = "Build"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Start (Prod)"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 3000
